RECORDINGS_ROOT=E:\TwitchRecordings
YOUTUBE_CLIENT_SECRETS_FILE=auth/credentials.json
FIREFOX_PROFILE_PATH=
RUMBLE_LICENSE_OPTION=
YT_PLAYLIST_MROZOPL=
YT_PLAYLIST_JELLYSKETCH=
YT_PLAYLIST_CTSG=
YT_PLAYLIST_JALOWY_GRACZ=
YT_PLAYLIST_PERRYDOTTO=
YT_PLAYLIST_BUVANYBU=
